@media (max-width: 500px){

    body {
        display: flex; 
        justify-content: center;
        height: 100%;
        overflow: hidden;
    }

    .item {
        margin-top: 10px; 
    }

    .stats {
        bottom: 0px;
        margin-bottom: 0px;
        position: fixed; 
        background-color: aliceblue;
    }

    .shop {
        width: 300px; 
    }
}

@media (max-width: 650px) and (min-width: 501px) {
    .shop {
        width: 500px; 
    }
}