@media (max-width: 500px){

    body {
        display: flex; 
        justify-content: center;
        overflow: hidden;
    }

    .item {
        margin-top: 10px; 
    }

    .stats {
        bottom: 1px; 
    }

    .shop {
        width: 300px; 
    }
}