@import url("/css/reset.css");
@import url("/css/shop.css"); 
@import url("/css/responsive.css"); 

body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("/img/map2.jpg") no-repeat center / cover;
    height: 100vh;
    width: 100vw; 
    overflow: hidden;
}

.combat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.epouvantail {
    transition: transform 0.1s ease-in-out; 
}

.epouvantail:hover {
    opacity: 0.9;
    transform: scale(1.02);
    cursor: pointer;
    -webkit-filter: drop-shadow(0 0 1px red);
    filter: drop-shadow(0 0 1px red);
}

.epouvantail:active {
    transform: scaleY(1.1);
    filter: saturate(2)
}
    
.ennemi-info {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 33, 33, 0.64); 
    gap: 10px; 
    padding: 5px 10px; 
    border-radius: 10px; 
    transform: translateY(50px);
    z-index: 1;
    color: rgb(203, 203, 203); 
}

.point-de-vie {
    background-color: blue;
    padding: 5px 10px; 
    color: white; 
    font-weight: bold;
    border-radius: 5px; 
}

.result-attaque {
    opacity: 0; 
    transform: translateX(60px);
    font-size: 36px; 
    font-weight: bold;
    color: red; 
    transition: all 0.1s ease-out;
}

.result-attaque.show {
    opacity: 1;
    transform: translateX(90px);
}

header {
    display: flex;
    align-items: center;
    gap: 20px; 
    height: 70px; 
    padding: 10px; 
    background-color: rgba(255, 255, 255, 0);
    position: absolute; 
}

.item {
    display: flex;
    align-items: center;
    height: 100%; 
    padding: 0 10px; 
    background-color: rgb(48, 48, 48);
    color: white; 
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.7);
}

.kamas-icone {
    height: 50px; 
}

.un {
    width: auto; 
    padding: 0 10px 0 0; 
}

.shop-icone {
    height: 30px; 
}

.deux {
    cursor: pointer; 
    background-color: rgb(155, 233, 255);
    transition: all 0.2s ease-in-out;
}

.deux:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 15px 0px rgba(0, 38, 255, 0.7);
}

.stats {
    height: auto; 
    width: 140px; 
    margin: 70px 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 20px 10px;
    color: white; 
    border-radius: 5px; 
    background-color: rgb(48, 48, 48);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.7);
    font-size: 11px; 
    color: rgb(132, 255, 154)
}

.titleStat {
    text-align: center;
    margin: 5px 0 15px 0; 
    font-size: 14px; 
    color: white; 
}